auctionClient/xml-resources/web-service-references/WebAuction/wsdl/localhost_1234/WebAuction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getBar" type="tns:getBar"></xs:element>

<xs:element name="getBarResponse" type="tns:getBarResponse"></xs:element>

<xs:complexType name="getBar">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getBarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>