auctionClient/src/META-INF/wsdl/localhost_1234/WebAuction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WebAuctionService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:1234/WebAuction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"></part>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"></part>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"></part>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"></part>
</message>
<message name="getItem">
<part name="parameters" element="tns:getItem"></part>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"></part>
</message>
<message name="getBar">
<part name="parameters" element="tns:getBar"></part>
</message>
<message name="getBarResponse">
<part name="parameters" element="tns:getBarResponse"></part>
</message>
<portType name="WebAuction">
<operation name="registerUser">
<input wsam:Action="http://webservice/WebAuction/registerUserRequest" message="tns:registerUser"></input>
<output wsam:Action="http://webservice/WebAuction/registerUserResponse" message="tns:registerUserResponse"></output>
</operation>
<operation name="getUser">
<input wsam:Action="http://webservice/WebAuction/getUserRequest" message="tns:getUser"></input>
<output wsam:Action="http://webservice/WebAuction/getUserResponse" message="tns:getUserResponse"></output>
</operation>
<operation name="getItem">
<input wsam:Action="http://webservice/WebAuction/getItemRequest" message="tns:getItem"></input>
<output wsam:Action="http://webservice/WebAuction/getItemResponse" message="tns:getItemResponse"></output>
</operation>
<operation name="getBar">
<input wsam:Action="http://webservice/WebAuction/getBarRequest" message="tns:getBar"></input>
<output wsam:Action="http://webservice/WebAuction/getBarResponse" message="tns:getBarResponse"></output>
</operation>
</portType>
<binding name="WebAuctionPortBinding" type="tns:WebAuction">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registerUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebAuctionService">
<port name="WebAuctionPort" binding="tns:WebAuctionPortBinding">
<soap:address location="http://localhost:1234/WebAuction"></soap:address>
</port>
</service>
</definitions>