auctionClient/src/META-INF/wsdl/localhost_1234/WebAuction.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="category" type="tns:category"></xs:element>

<xs:element name="getBar" type="tns:getBar"></xs:element>

<xs:element name="getBarResponse" type="tns:getBarResponse"></xs:element>

<xs:element name="getItem" type="tns:getItem"></xs:element>

<xs:element name="getItemResponse" type="tns:getItemResponse"></xs:element>

<xs:element name="getUser" type="tns:getUser"></xs:element>

<xs:element name="getUserResponse" type="tns:getUserResponse"></xs:element>

<xs:element name="item" type="tns:item"></xs:element>

<xs:element name="registerUser" type="tns:registerUser"></xs:element>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"></xs:element>

<xs:element name="user" type="tns:user"></xs:element>

<xs:complexType name="getItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="seller" type="tns:user" minOccurs="0"></xs:element>
<xs:element name="category" type="tns:category" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="highest" type="tns:bid" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="category">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bid">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBar">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getBarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>